*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #000000;
}

h1{
  color: transparent;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  font-family: "Poppins",sans-serif;
  font-size: 110px;
  letter-spacing: 0.05em;
  background: linear-gradient(
      #96097e 16.7%,
      #000000 16.7%,
      #64013b 33.4%,
      #000000 33.4%,
      #774078 50.1%,
      #000000 50.1%,
      #630374 66.8%,
      #000000 66.8%,
      #cc00ff 86.5%,
      #000000 83.5%
  );
  -webkit-text-stroke: 0.04em #000000;
  -webkit-background-clip: text;
          background-clip: text;
  line-height: 1.1em;
  animation: rainbow 80s linear infinite;
}

@keyframes rainbow{
  100%{
      background-position: 0 30em;
  }
}
